@import url("/css/style.css");
#header {
  background: var(--primary-dark);
}

#mainlogo {
  padding: 10px;
  text-align: center;
  margin-top: 150px;
}

#mainlogo-container {
  margin-top: 50px;
  border-spacing: 10px;
}

h3 {
  text-align: center;
  margin: 90px 0px 30px 0px;
  font-size: 20px;
}

h4 {
  border-bottom: 1px solid var(--accent);
  padding: 10px;
  text-align: center;
}

h5 {
  border-bottom: 1px solid var(--accent);
  padding: 5px;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  font-style: italic;
}

.logo-box {
  padding: 15px 0px;
}

.logo-box img {
  height: 150px;
}

.logo-box-big img {
  height: 150px;
}

.logo-box-dark-bg {
  background: var(--primary-dark);
}

.logo-box-light-bg {
  background: var(--mid-grey);
}

.logo-box-transparent-margin {
  padding: 21px;
}

.mainlogo-explain {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
}

.mainlogo-explain .mainlogo-explain-desc {
  padding: 15px;
  text-align: left;
  color: var(--primary-dark);
}

.cross {
  color: var(--accent);
}

.check {
  color: #20a33a;
}

@media (max-width: 1024px) {
  .logo-box img {
    height: 100px;
  }
  h4 {
    font-size: 22px;
  }
}

@media (max-width: 414px) {
  .logo-box-big img {
    width: 100%;
  }
  h3 {
    margin: 20px 0px 20px 0px;
  }
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .logo-box img {
    height: 100px;
  }
}