<footer id="footer">
    <div class="footer-top">
        <div class="container">
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Raven</strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
    </div>
</footer><!-- #footer -->
