<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <a href="/#hero"><img src="/img/raven_title.png" alt="" title="" /></a>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="/#hero">Home</a></li>
                <li class="menu-has-children">
                    <a href="/#first-point">About</a>
                    <ul>
                        <li><a href="/#first-point">Adaptive</a></li>
                        <li><a href="/#second-point">Customizable</a></li>
                        <li><a href="/#third-point">Evolutive</a></li>
                    </ul>
                </li>
                <li><a href="/#contact">Contact</a></li>
                <li><a href="/#team">Team</a></li>
                <li id="li-news"><a href="/#news">Newsletter</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->
