<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Raven-OS - The system which grows up with you</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta property="og:title" content="Raven-OS - The system which grows up with you">
    <meta property="og:description" content="Raven-OS is an adaptive, customizable and evolutive operating system">
    <meta name="description" content="Raven-OS is an adaptive, customizable and evolutive operating system">
    <meta property="og:image" content="https://raven-os.org/img/raven_logo.png">
    <!-- Favicons -->
    <link href="img/home/raven_ico.ico" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/cocoen.min.css" />
    <!-- Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <!-- =======================================================
      Theme Name: Regna
      Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body>
    <!--==========================
    Header
    ============================-->
    {{> includes/header}}
    <!--==========================
      Hero Section
    ============================-->
    <section id="hero">
        <div class="hero-container">
            <h1>RAVEN-OS</h1>
            <h2>The system which grows up with you</h2>
            <a href="#news" class="btn-suscribe" id="btn-sub">Subscribe to our newsletter</a>
        </div>
    </section><!-- #hero -->
    <main id="main">
        <!--==========================
          About - first point section
        ============================-->
        <section id="first-point">
            <div class="container-fluid wow fadeInUp">
                <div class="row fp-container">
                    <div class="col-lg-1"></div>
                    <svg class="svg-line" viewBox="0 0 2000 2000"
                         xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <!-- V = ligne vers coordonnée sur x et H = ligne vers coordonée sur y -->
                        <path id="red-line" class="red-line" d="M 200 0
							  V 550 q 0,50 50,50
							  H 1550 q 50,0 50,50
							  V 1250 q 0,50 -50,50
							  H 500 q -50,0 -50,50
							  V 1850"></path>
                    </svg>
                    <div class="col-lg-6 flip-img">
                        <img class="img-fluid" src="img/home/raven_install.png" />
                    </div>
                    <div class="col-lg-4 content flip-title">
                        <div class="section-header">
                            <h3 class="section-title">Adaptive</h3>
                            <p class="section-description">Meet Raven-OS</p>
                        </div>
                        <p>
                            With only a few questions, Raven-OS will be able to know where you come from and what is your affinity with computers.
                        </p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </section>
        <!--==========================
          About - second point section
        ============================-->
        <section id="second-point">
            <div class="container-fluid wow fadeInUp">
                <div class="row sp-container">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4 content">
                        <div class="section-header">
                            <h3 class="section-title">Customizable</h3>
                            <p class="section-description">Tame Raven-OS</p>
                        </div>
                        <p>
                            It will then configure your interfaces and the software you want to install, depending on how you answered. But do not worry, you will always be able to customize your system yourself as you wish!
                        </p>
                    </div>
                    <div class="col-lg-6 img-fluid">
                        <div class="cocoen">
                            <img src="img/home/desktop1.png" />
                            <img src="img/home/desktop2.png" />
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            </div>
        </section>
        <!--==========================
          About - third point section
        ============================-->
        <section id="third-point">
            <div class="container-fluid wow fadeInUp">
                <div class="row tp-container">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 flip-img">
                        <img class="img-fluid" src="img/home/raven_audio.gif" />
                    </div>
                    <div class="col-lg-4 content flip-title">
                        <div class="section-header">
                            <h3 class="section-title">Evolutive</h3>
                            <p class="section-description">Raise Raven-OS</p>
                        </div>
                        <p>
                            Become better and your software will progress with you. Master the most complex tools until they have no more secrets for you!
                        </p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </section>
        <!--==========================
          Contact Section
        ============================-->
        <section id="contact">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h3 class="section-title">Contact</h3>
                    <p class="section-description">Follow us and tell us what you think!</p>
                </div>
                <div class="social-links">
                    <a href="mailto:contact@raven-os.org" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="https://discord.gg/XXQjqvP" target="_blank"><i class="fab fa-discord fa-2x"></i></a>
                    <a href="https://github.com/raven-os/" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                </div>
            </div>
        </section><!-- #contact -->
        <!--==========================
          Newsletter Section
        ============================-->
        <section id="news">
            <div class="form-bg wow fadeInUp">
                <div class="section-header">
                    <h3 class="section-title">Newsletter</h3>
                    <p class="section-description">Need some news of the project? Subscribe to our newsletter!</p>
                </div>
                <form id="form-subscribe" name="subscribe" action="javascript:requestBackendNewsletter();">
                    <div id="form-alert" class="alert alert-subscribe" role="alert"></div><br>
                    <input type="email" class="form-control" name="email-subscribe" id="email-subscribe" placeholder="Your Email" data-rule="email-subscribe" data-msg="Please enter a valid email" />
                    <button type="submit" class="btn-suscribe">Subscribe</button>
                </form>
            </div>
        </section><!-- #news -->
    </main>
    <!--==========================
      Footer
    ============================-->
    {{> includes/footer}}
    <a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/cocoen.min.js"></script>
    <!-- Template Main Javascript File -->
    <script src="/js/main.js"></script>
</body>
</html>
