<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Raven-OS - Logos and how to use them</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="/img/home/raven_ico.ico" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <!-- Main Stylesheet File -->
	<link href="/css/style_logo.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/cocoen.min.css" />
    <!-- Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <!-- =======================================================
      Theme Name: Regna
      Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body>
    {{> includes/header}}
	<section id="mainlogo">
		<div class="container wow fadeInUp">
			<h1>Do you want to talk about us?</h1>
			<div class="row mainlogo-explain">
				<div class="col-xl-1 col-lg-1 col-md-0 col-sm-0 col-0"></div>
				<div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
					<h4>What you can not do</h4>
					<div class="mainlogo-explain-desc">
						<span class="cross">✗</span> Use the Raven logos for your own application.<br>
						<span class="cross">✗</span> Modify them (colors, dimensions, text ...).<br>
						<span class="cross">✗</span> Animate them.<br>
						<span class="cross">✗</span> Sell them.<br>
						<span class="cross">✗</span> Add any accessories (speech bubles, halo ...).<br>
						<span class="cross">✗</span> Use our name.
					</div>
				</div>
				<div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
					<h4>What you can do</h4>
					<div class="mainlogo-explain-desc">
						<span class="check">✓</span> Use the Raven logos to mention Raven-OS.<br>
						<span class="check">✓</span> Use the logos to show any compatibility and/or interaction with Raven-OS.<br>
						<span class="check">✓</span> Use the logos to talk about us in any kind of article or documentation about Raven-OS.<br>
						<span class="check">✓</span> Use the logos as your laptop wallpaper!
					</div>
				</div>
				<div class="col-xl-1 col-lg-1 col-md-0 col-sm-0 col-0"></div>
			</div>
			<div class="row">
				<div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>
				<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
					<h4>Feel free to use those assets<br>when you say how great and amazing Raven-OS is!</h4>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>
			</div>
			<div class="container mainlogo-container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 logo-box logo-small">
						<img src="img/logo/raven_logo.png">
					</div>
					<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
						<h3>Small logo</h3>
						<a href="/img/logo/raven_logo.png" class="btn-dl" target="_blank">Download</a>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>
				</div>
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 logo-box logo-small logo-box-black">
						<img src="/img/logo/raven_title_white.png">
					</div>
					<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
						<h3>White title logo</h3>
						<a href="/img/logo/raven_title_white.png" class="btn-dl" target="_blank">Download</a>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>
				</div>
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 logo-box logo-small">
						<img src="/img/logo/raven_title_black.png">
					</div>
					<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
						<h3>Black title logo</h3>
						<a href="/img/logo/raven_title_black.png" class="btn-dl" target="_blank">Download</a>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-0 col-sm-0 col-0"></div>
				</div>
			</div>
		</div>
	</section>
	{{> includes/footer}}
</body>
</html>
