<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Raven-OS - Logos and how to use them</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="/img/home_page/raven_ico.ico" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <!-- Main Stylesheet File -->
	<link href="css/style_logo.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/cocoen.min.css" />
    <!-- Icons -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
    <!-- =======================================================
      Theme Name: Regna
      Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body>
    {{> includes/header}}
	<section id="mainlogo">
		<div class="container-fluid wow fadeInUp">
			<h1>Do you want to talk about us?</h1>
			<h4>Feel free to use those assets when you say how great and amazing Raven-OS is!</h4>
			<div class="row mainlogo-container">
				<div class="col-4">
					<div class="logo_box">
						<img src="img/logo_page/raven_logo.png">
					</div>
					<a href="img/logo_page/raven_logo.png" class="btn-dl" target="_blank">Download</a>
				</div>
				<div class="col-4">
					<div class="logo_box logo_box_black">
						<img src="img/logo_page/raven_title_white.png">
					</div>
					<a href="img/logo_page/raven_title_white.png" class="btn-dl" target="_blank">Download</a>
				</div>
				<div class="col-4">
					<div class="logo_box">
						<img src="img/logo_page/raven_title_black.png">
					</div>
					<a href="img/logo_page/raven_title_black.png" class="btn-dl" target="_blank">Download</a>
				</div>
			</div>
			<div class="row mainlogo-explain">
				<div class="col-12">
					<h4>A few things to know and respect!</h4>
					<div class="mainlogo-explain-desc">→ You can use our logo anywhere you want to mention us.<br>
						→ Please don't use it for your own application.<br>
						→ Please don't modify (colors, dimensions, text ...) it without any permission.<br>
						→ Please don't try to sell it for you own benefices.<br>
						→ Please avoid using our name for your projects.
					</span>
				</div>
			</div>
		</div>
	</section>
    {{> includes/footer}}
</body>
</html>
